body {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: #293264;
  background-color: #242424;
}

.App {
  max-width: 650px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.start__page {
  padding: 2rem;
  background-color: #f5f7fb;
  background-image: url("./Images/blobOne.svg"), url("./Images/blobTwo.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.intro__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.intro__page__paragraph {
  text-decoration: none;
  color: #293264;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.intro__page__paragraph:hover {
  transform: scale(1.05);
}

.intro__page__button {
  background-color: #293264;
  color: #f5f7fb;
  padding: 1rem 3rem;
  border-radius: 10px;
  border-color: #293264;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.intro__page__button:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.description__container {
  height: 150px;
  width: 250px;
  border-radius: 10px;
  background-color: #293264;
  color: white;
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  transform: translateY(400%);
  transition: all 0.5s ease-in-out;
}

.description__closeBtn {
  cursor: pointer;
  position: relative;
  left: 95%;
  transition: all 0.2s ease-in-out;
}

.description__closeBtn:hover {
  transform: scale(1.3);
}

.description__text {
  text-align: center;
  margin-bottom: 7px;
}

.description__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.description__icon {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.description__icon:link {
  color: white;
}

.description__icon:visited {
  color: white;
}

.description__icon:hover {
  transform: scale(1.3);
}

.description__icon:active {
  color: white;
}

.description__copyright {
  text-align: center;
  font-size: 10px;
  position: relative;
  bottom: 0;
}

.QuestionsPage {
  padding: 2rem;
  background-color: #f5f7fb;
  background-image: url("./Images/blobOne.svg"), url("./Images/blobTwo.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.confetti {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.question__page {
  border-bottom: 1px solid #dbdef0;
  padding: 0.6rem 0 0.6rem 0;
}

.options {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
}

.option {
  background: transparent;
  border: 1px solid #293264;
  color: #293264;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  margin: 4px;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .option {
  background: #d6dbf5;
}

.score__review {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 1.2em;
}

.check__answers__button {
  background-color: #293264;
  color: #f5f7fb;
  padding: 1rem 1rem;
  border-radius: 10px;
  border-color: #293264;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  opacity: 1;
}

.check__answers__button:hover {
  opacity: 0.9;
}
